@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap');

body{font-family:'Noto Sans KR',sans-serif; color:#FFDE66;}
#wrap{width:100%; min-width:1200px;}
::selection{background-color:#FFDE66;}


header{position:fixed; left:0; bottom:0; width:100%; height:60px; z-index:100; background-color:rgba(255,255,255,0.5);}
header.active{top:0;}
header>.container>nav{position:absolute; left:50%; top:0; margin-left:-600px; width:1200px; height:60px;}
header>.container>nav>.gnb{widows:1200px;}
header>.container>nav>.gnb>li{float:left; width:200px;}
header>.container>nav>.gnb>li>a{display:block; height:60px; line-height:60px; font-size:20px; font-weight:700; text-align:center; transition:all 0.4s;}
header>.container>nav>.gnb>li:hover>a,header>.container>nav>.gnb>li>a:focus,header>.container>nav>.gnb>li.on>a{color:#FF8868; }


#home{width:100%; height:960px; background-image:url(../images/main_banner.jpg); background-repeat:no-repeat; background-size:cover; background-position:center center;}
#home>.container{position:relative; width:1200px; height:960px; margin:0 auto;}
#home>.container>h1{position:absolute; left:0px; bottom:400px; font-weight:700; font-size:100px; color:#FF8868; line-height:0.9; letter-spacing:-3.5px;}
#home>.container>h1>.name{position:absolute; left:300px; bottom:70px; display:block; width:390px; height:194px; text-indent:-9999px;}


#aboutme{position:relative; width:100%; height:960px;}

#aboutme>.content1-left{float:left; height:960px; }
#aboutme>.content1-left>h2{position:absolute; top:200px; left:50%; margin-left:-540px; z-index:10; font-size:70px; font-weight:550; color:#FF8868; letter-spacing:1px;}
#aboutme>.content1-left>a{position:absolute; top:290px; left:50%; margin-left:-540px; z-index:20; display:block; width:358px; height:460px; text-align: justify;}
#aboutme>.content1-left>a>p.img{width:358px; height:430px; text-indent:-9999px; background-image:url(../images/about_me.jpg);}
#aboutme>.content1-left>a>p.link{width:358px; height:30px; line-height:30px; color:#f49389; font-size:20px; font-weight:700; letter-spacing:2px;}
#aboutme>.content1-left>.about_bg{position:absolute; left:0; bottom:150px; width:700px; height:570px; background-color:#FFDE66;}

#aboutme>.content1-right{position:absolute; top:290px; right:54%; margin-right:-600px; float:left; width:650px; height:430px;}
#aboutme>.content1-right>.profile{width:650px; height:280px;}
#aboutme>.content1-right>.profile>ul{position:relative; width:650px; height:280px;}
#aboutme>.content1-right>.profile>ul>li{position:absolute; left:0; top:0; width:650px; height:280px; font-size:16px; line-height:2;}
#aboutme>.content1-right>.profile>ul>li:not(:first-child){display:none;}
#aboutme>.content1-right>.profile>button{outline:none; border:none; background:none; width:21px; height:41px; text-indent:-9999px; background-image:url(../images/sprite.png); }
#aboutme>.content1-right>.profile>.prev{position:absolute; top:-42px; right:50%; margin-right:-303px; background-position:0 0;}
#aboutme>.content1-right>.profile>.next{position:absolute; top:-42px; right:50%; margin-right:-335px; background-position:-31px 0;}
#aboutme>.content1-right>.profile>.prev:hover,#aboutme>.content1-right>.profile>.prev.on{background-position:0 -42px;}
#aboutme>.content1-right>.profile>.next:hover,#aboutme>.content1-right>.profile>.next.on{background-position:-31px -42px;}




#skills{width:1200px; height:960px; margin:0 auto;}
#skills>h2{margin-bottom:10px; font-size:70px; font-weight:600; color:#FF8868; letter-spacing:1px; text-align:center;}
#skills>h2:first-child{padding-top:200px;}
#skills>.skill{width:500px; margin:0 auto 150px;}
#skills>.skill>li{float:left; height:115px; margin-left:50px; text-indent:-9999px;}
#skills>.skill>li:nth-child(1){margin-left:0; width:85px; background-image:url(../images/skills_1.png);}
#skills>.skill>li:nth-child(2){width:85px; background-image:url(../images/skills_2.png);}
#skills>.skill>li:nth-child(3){width:85px; background-image:url(../images/skills_3.png);}
#skills>.skill>li:nth-child(4){width:85px; background-image:url(../images/skills_4.png);}

#skills>.tool{width:645px; margin:0 auto;}
#skills>.tool>li{float:left; width:75px; height:75px; margin-left:20px; text-indent:-9999px;}
#skills>.tool>li:nth-child(1){margin-left:0; background-image:url(../images/skills_tool_1.png);}
#skills>.tool>li:nth-child(2){background-image:url(../images/skills_tool_2.png);}
#skills>.tool>li:nth-child(3){background-image:url(../images/skills_tool_3.png);}
#skills>.tool>li:nth-child(4){background-image:url(../images/skills_tool_4.png);}
#skills>.tool>li:nth-child(5){background-image:url(../images/skills_tool_5.png);}
#skills>.tool>li:nth-child(6){background-image:url(../images/skills_tool_6.png);}
#skills>.tool>li:nth-child(7){background-image:url(../images/skills_tool_7.png);}



#design{position:relative; width:1200px; height:960px; margin:0 auto;}
#design>h2{margin-bottom:20px; padding-top:200px; font-size:70px; font-weight:600; color:#FF8868; letter-spacing:1px; text-align:center;}

#design>.container{position:relative; overflow:hidden; width:990px; height:530px; margin:0 auto;}
#design>.container>ul{position:absolute; top:0; left:0; width:2970px; height:530px;}
#design>.container>ul>li{float:left; position:absolute; top:0; left:990px; width:990px; height:530px; background-color:#fff;}
#design>.container>ul>li>.gallery>li{float:left; text-align:center; font-size:22px; border:1px solid #ccc; box-sizing:border-box;}

#design>.container>ul>li:first-child{left:0;}
#design>.container>ul>li>.web>li:nth-child(1){width:380px; height:360px; margin-right:10px; line-height:360px; background-image:url(../images/design_book1.jpg);}
#design>.container>ul>li>.web>li:nth-child(2){width:275px; height:360px; margin-right:10px; line-height:360px; background-image:url(../images/design_book2.jpg);}
#design>.container>ul>li>.web>li:nth-child(3){width:315px; height:360px; line-height:360px; background-image:url(../images/design_book3.jpg);}
#design>.container>ul>li>.web>li:nth-child(4){width:665px; height:160px; margin:10px 10px 0 0; line-height:160px; background-image:url(../images/design_rhkdrh.jpg);}
#design>.container>ul>li>.web>li:nth-child(5){width:315px; height:160px; margin-top:10px; line-height:160px; background-image:url(../images/design_coffee.jpg);}

#design>.container>ul>li>.gallery>li>a{display:block; height:100%; text-indent:-9999px;}
#design>.container>ul>li>.gallery>li:hover>a,#design>.container>ul>li>.gallery>li>a:focus{text-indent:0; color:#FF8868; background-color:rgba(0,0,0,0.5);}

#design>button{position:absolute; top:50%; margin-top:80px; outline:none; border:none; background:none; width:21px; height:41px; text-indent:-9999px;}
#design>.prev{left:70px; background-position:0 0;}
#design>.next{right:70px; background-position:-31px 0;}
#design>.prev:hover,#design>.prev.on{background-position:0 -42px;}
#design>.next:hover,#design>.next.on{background-position:-31px -42px;}


#design>.gallery_bg{display:none; position:fixed; left:0; top:0; z-index:400; width:100%; height:100%; background-color:rgba(0,0,0,0.5);}
#design>.gallery_bg>.gallery_img{position:fixed; left:50%; top:50%; z-index:410; margin:-375px 0 0 -500px; width:1000px; height:750px; background-color:#fff;}
#design>.gallery_bg>.gallery_img>.gallClose{display:block; height:750px; text-indent:-9999px;}


#contact{position:relative; overflow:hidden; width:100%; height:860px;}
#contact>h2{position:absolute; right:50%; top:200px; margin-right:-450px; margin-bottom:20px; font-size:70px; font-weight:550; color:#FF8868; letter-spacing:1px; text-align:center;}
#contact>.contact_img{position:absolute; right:50%; top:300px; margin-right:-985px; width:800px; height:375px; background-image:url(../images/contact_banner.jpg);}

#contact>.container{position:absolute; top:50%; left:50%; margin-left:-400px; margin-top:-90px; text-align:center;}
#contact>.container>p{font-size:20px; line-height:1.8; letter-spacing:1px;}
#contact>.container>p+p:before{content:'/'; display:block; padding:20px 0; font-weight:300; font-size:30px; color:#425a73; opacity:0.3;}
#contact>.container>p+p{margin-bottom:20px; font-size:16px;}



footer{width:100%; height:100px; background-color:#FF8868;}
footer>address{padding-top:40px; font-size:14px; font-weight:300; color:#fff; line-height:1.6; text-align:center;}
