@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap');

html{cursor: url(../images/mouse.png), auto}
body{font-family:'Noto Sans KR',sans-serif; color:#2b2b2b;}
#wrap{width:100%; min-width:1200px;}
::selection{background-color:#bbdcfb;}




section>.content4>h2{margin-bottom:50px; text-align:center; font-size:60px; font-weight:700;  letter-spacing:-1px;}

.swiper-container{width:1200px; height:550px;}
.swiper-slide{position:relative;
  text-align: center;
  font-size: 18px;
  background: #ededed;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

section>.content4>.swiper-container>.swiper-wrapper>.swiper-slide>.img{position:absolute; left:50%; bottom:50px; z-index:100; margin-left:-25px; width:165px; height:177px; text-indent:-9999em;}
section>.content4>.swiper-container>.swiper-wrapper>.slide1>.img{background-image:url(../images/people_1.png);}
section>.content4>.swiper-container>.swiper-wrapper>.slide2>.img{background-image:url(../images/people_2.png);}
section>.content4>.swiper-container>.swiper-wrapper>.slide3>.img{background-image:url(../images/people_3.png);}
section>.content4>.swiper-container>.swiper-wrapper>.slide4>.img{background-image:url(../images/people_4.png);}
section>.content4>.swiper-container>.swiper-wrapper>.slide5>.img{background-image:url(../images/people_5.png);}
section>.content4>.swiper-container>.swiper-wrapper>.slide6>.img{background-image:url(../images/people_6.png);}


section>.content4>.swiper-container>.swiper-wrapper>.swiper-slide>.img:after{display:block; content:''; position:absolute; left:50%; bottom:-10px; margin-left:-180px; background-image:url(../images/people_title.png);}
section>.content4>.swiper-container>.swiper-wrapper>.slide1>.img:after{width:122px; height:38px; background-position:0 0;}
section>.content4>.swiper-container>.swiper-wrapper>.slide2>.img:after{margin-left:-178px; width:120px; height:38px; background-position:0 -48px;}
section>.content4>.swiper-container>.swiper-wrapper>.slide3>.img:after{bottom:4px; margin-left:-160px; width:102px; height:24px; background-position:0 -96px;}

section>.content4>.swiper-container>.swiper-wrapper>.slide4>.img:after{bottom:4px; width:119px; height:24px; background-position:0 -130px;}
section>.content4>.swiper-container>.swiper-wrapper>.slide5>.img:after{bottom:4px; margin-left:-174px; width:114px; height:24px; background-position:0 -164px;}
section>.content4>.swiper-container>.swiper-wrapper>.slide6>.img:after{margin-left:-178px; width:118px; height:38px; background-position:0 -198px;}

section>.content4>.swiper-container>.swiper-wrapper>.slide7>.img:after{margin-left:-190px; width:130px; height:38px; background-position:0 -245px;}
section>.content4>.swiper-container>.swiper-wrapper>.slide8>.img:after{margin-left:-168px; width:109px; height:38px; background-position:0 -293px;}
section>.content4>.swiper-container>.swiper-wrapper>.slide9>.img:after{margin-left:-204px; width:144px; height:38px; background-position:0 -340px;}

section>.content4>.swiper-container>.swiper-wrapper>.slide10>.img:after{margin-left:-208px; width:148px; height:38px; background-position:0 -388px;}
section>.content4>.swiper-container>.swiper-wrapper>.slide11>.img:after{margin-left:-188px; bottom:4px; width:129px; height:24px; background-position:0 -436px;}
section>.content4>.swiper-container>.swiper-wrapper>.slide12>.img:after{margin-left:-210px; width:150px; height:38px; background-position:0 -470px;}

section>.content4>.swiper-container>.swiper-wrapper>.slide13>.img:after{margin-left:-162px; bottom:4px; width:102px; height:25px; background-position:0 -516px;}
section>.content4>.swiper-container>.swiper-wrapper>.slide14>.img:after{margin-left:-179px; width:120px; height:39px; background-position:0 -550px;}


section>.content4>.swiper-container>.swiper-wrapper>.swiper-slide>.text{position:absolute; left:50%; top:50%; margin:-250px 0 0 -140px; width:280px; height:500px;}
section>.content4>.swiper-container>.swiper-wrapper>.swiper-slide>.text>h2{margin-bottom:10px; font-size:24px; font-weight:700; text-align:left;}
section>.content4>.swiper-container>.swiper-wrapper>.swiper-slide>.text>p{font-size:16px; line-height:1.8; letter-spacing:-1px; text-align:left;}




footer{overflow:hidden; width:100%; height:170px; background-color:#FF8868; text-align:center;}
footer>.go{background-image:url(../images/bg_gradation.jpg); background-position:center center; background-repeat:no-repeat; background-size:cover;}
footer>.go>a{display:block; height:70px; line-height:70px; font-size:20px; color:#fff; }
footer>address{height:100px; padding-top:40px; font-size:14px; font-weight:300; color:#fff; line-height:1.6; }
